<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>
      Pendientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

<app-listas [terminada] = "false" ></app-listas>

  <!-- <ion-list color="dark">

    ng for para recorrer toda la lista de nuestro servicio
    <ion-item *ngFor="let lista  of deseosService.listas" detail color="dark" (click)="listaSeleccionada(lista)">
      <ion-label>{{ lista.titulo }}</ion-label>
      <ion-note slot="end" color="ternary">{{ lista.items.length }}</ion-note>
    </ion-item>

  </ion-list> -->

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary" (click)="agregarLista()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
